<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>添加店面</title>
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/bootstrapselect/css/bootstrap-select.css}"/>
    <!--主样式表-->
    <link rel="stylesheet" th:href="@{/static/css/models.css}">
</head>
<body>
<!-- 添加店面 -->
<div class="PopupBox">
    <form id="addStoreForm" th:action="@{/web/store/save}" method="POST" th:Object="${store}">
        <table class="popupList">
            <tr>
                <th class="fieldName_one"><span class="require">*</span>所属城市：</th>
                <td>
                    <input class="citySelect" name="city" type="text" placeholder="请输入城市"  required>
                    <input class="addCity" type="button" value="添加">
                </td>
                <td class="gray-col">点击添加按钮添加城市</td>
            </tr>
            <tr>
                <th class="fieldName_one"><span class="require">*</span>店面名称：</th>
                <td>
                    <input class="validate[required,maxSize[4]]" name="name" type="text"  placeholder="请输入店面名称"  required>
                </td>
                <td class="redState">*例如：XX店（限4个字）</td>
            </tr>
            <tr>
                <th class="fieldName_one">分店座机号码：</th>
                <td>
                    <input name="phone" type="text" >
                </td>
                <td class="redState">400电话和座机电话均可</td>
            </tr>
            <tr>
                <th class="fieldName_one">店面所在地：</th>
                <td>
                	<input name="adress" type="text" >
                </td>
                <td class="redState">电子合同中生成店面地址</td>
            </tr>
            <tr>
                <th class="fieldName_one">地图定位地址：</th>
                <td>
                    <input name="localizeAdd" type="text" >
                </td>
                <td class="redState">*在地图中定位地址</td>
            </tr>
            <tr>
                <th class="fieldName_one">公司名称：</th>
                <td><input name="companyName" type="text" th:value="*{companyName}"></td>
                <td class="redState">用于电子合同生成的公司名称</td>
            </tr>
            <tr>
                <th class="fieldName_one">是否分组：</th>
                <td>
                    <div class="property">
                        <label class="propRadio">
                        	<input class="JS_groupRadio" name="groupingStatus" type="radio" value="1" checked="">不分组
                        </label>
                        <label class="propRadio">
                        	<input class="JS_groupRadio" name="groupingStatus" type="radio" value="0" >分组
                        </label>
                    </div>
                </td>
                <td class="redState">公司下面进行分组</td>
            </tr>
        </table>
        <div class="addGroupBox  hide" id="groups">
        	<input name="grouping" type="hidden">
            <p class="addGroupList">
            	<span class="groupName">组名：</span>
            	<input class="groupInput" name="" type="text" >
            	<span class="groupImg deleteGroup"></span>
            </p>
            <p class="addGroupList">
            	<span class="groupName">组名：</span>
            	<input class="groupInput" name="" type="text" >
            	<span class="groupImg deleteGroup"></span>
            </p>
            <p class="addGroupList">
            	<span class="groupName">组名：</span>
            	<input class="groupInput" name="" type="text" >
            	<span class="groupImg deleteGroup"></span>
            </p>
            <p class="addGroupList">
            	<span class="groupName">组名：</span>
            	<input class="groupInput" name="" type="text" >
            	<span class="groupImg addGroup"></span>
            </p>
        </div>
        <div class="PopupBox">
        	<h2 class="PopupTitle">备注</h2>
	        <p class="textareaBox">
	        	<textarea class="disabled" name="" id="" disabled="disabled">公司名称 是用于电子合同生成的公司名称，有的公司是合伙人模式或加盟模式，每个店面生成出来的合同公司名称不一样，所以需要在这里填写公司名称。如果你的所有店面生成的公司名称都一样，则可不用填写。</textarea>
	        </p>
        </div>
		<div class="PopupBtn">
		    <input name="" type="submit" value="保存"><input class="cancel" name="" type="button" value="关闭">
		</div>
    </form>
</div>
<!-- end 添加店面 -->
<!-- 添加城市 -->
<div class="PopupBox hide" id="qft_cityBox">
    <form id="cityForm" action="" method="">
        <table class="popupList">
            <tr>
                <th class="fieldName"><span class="require">*</span>城市名称：</th>
                <td><input class="validate[required]" name="bumen1" type="text" value="" placeholder="请输入城市"></td>
            </tr>
            <tr>
                <th class="fieldName"><span class="require">*</span>城市名称：</th>
                <td><input class="validate[required]" name="bumen1" type="text" value="" placeholder="请输入城市"></td>
            </tr>
            <tr>
                <th class="fieldName"><span class="require">*</span>城市名称：</th>
                <td><input class="validate[required]" name="bumen1" type="text" value="" placeholder="请输入城市"></td>
            </tr>
        </table>
    </form>
</div>
<!-- end 添加城市 -->
<!--共用按钮-->
<!--end 共用按钮-->
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/select.js}"></script>
<!--表单验证-->
<script type="text/javascript" th:src="@{/static/js/validate/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/validate/messages_zh.js}"></script>
<!--layer弹出层-->
<script type="text/javascript" th:src="@{/static/js/layer/layer.js}"></script>
<script>
    $(function(){
    	//添加城市
        $('.PopupBox').on('click', '.addCity', function(){
            layer.open({
                type: 1,
                title: '添加城市',
                skin: 'popup-title-bg', //样式类名
                closeBtn : 1,
                area: ['300px','260px'],
                btn:['保存','关闭'],
                btnAlign: 'c',
                content: $('#qft_cityBox')
            });
        });
    	//分组与不分组
        $('.popupList').on('click','.JS_groupRadio', function(){
            var groupVal = $(this).val();
            if(parseInt(groupVal) == 1){
                $('.addGroupBox').fadeOut(200);
            }else{
                $('.addGroupBox').fadeIn(200);
            }
        });
      	//删除分组
        $('.addGroupBox').on('click','.deleteGroup', function(){
            $(this).parents('.addGroupList').remove();
        });
        //添加分组
        $('.addGroupBox').on('click','.addGroup', function(){
            var groupHtml = '<p class="addGroupList"><span class="groupName">组名：</span><input class="groupInput" name="" type="text" ><span class="groupImg deleteGroup"></span></p>';
            $('.addGroupBox').find('.addGroupList').eq(-2).after(groupHtml);
        });
        //表单验证
        $("#addStoreForm").validate({
            onfocusout: function(element){
                $(element).valid();
            },
            errorClass: 'formError'
        });
        //关闭窗口
        $("input[class='cancel']").on('click',function(){
        	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        	parent.layer.close(index); 
        });
        //提交窗口
        $("input[type='submit']").on('click',function(){
        	$("#addStoreForm").submit(function (envent){
        		var grouping = "";
        		$("#groups input").each(function(){
            		var value = $(this).val();
            		if(value != ''){
            			grouping +=value+',';
            		}
            	});
        		$('input[name=grouping]').val(grouping);
   			    envent.preventDefault();  
   			    var form = $(this); 
   			    console.log(form.serialize());
   			    $.ajax({  
   			        url: form.attr("action"),  
   			        type: form.attr("method"),  
   			        data: form.serialize(),  
   			        dataType: "json",  
   			        success: function (data){  
   			        	layer.alert(data.message,function(){
   			        		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
   	   			        	parent.layer.close(index);
   			        	});
   			        }
   			    });  
   			});
        });
    })
</script>
</body>
</html>
