<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>编辑店面</title>
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/bootstrapselect/css/bootstrap-select.css}"/>
    <!--主样式表-->
    <link rel="stylesheet" th:href="@{/static/css/models.css}">
</head>
<body>
<!--编辑店面-->
<div class="PopupBox">
    <form id="editStoreForm" th:action="@{/web/store/update}" method="POST" th:Object="${store}">
    	<input type="hidden" name="id" th:value="*{id}" />
        <table class="popupList">
            <tr>
                <th class="fieldName_one"><span class="require">*</span>所属城市：</th>
                <td>
                    <input name="city" type="text" th:value="*{city}" required>
                </td>
                <td class="redState">智能选择城市</td>
            </tr>
            <tr>
                <th class="fieldName_one"><span class="require">*</span>店面名称：</th>
                <td>
                    <input class="validate[required,maxSize[4]]" name="name" type="text"  th:value="*{name}"   required>
                </td>
                <td class="redState">*例如：XX店（限4个字）</td>
            </tr>
            <tr>
                <th class="fieldName_one">分店座机号码：</th>
                <td>
                    <input name="phone" type="text" th:value="*{phone}">
                </td>
                <td class="redState">400电话和座机电话均可</td>
            </tr>
            <tr>
                <th class="fieldName_one">店面所在地：</th>
                <td>
                	<input name="adress" type="text" th:value="*{adress}">
                </td>
                <td class="redState">电子合同中生成店面地址</td>
            </tr>
            <tr>
                <th class="fieldName_one">地图定位地址：</th>
                <td>
                    <input name="localizeAdd" type="text" th:value="*{localizeAdd}">
                </td>
                <td class="redState">*在地图中定位地址</td>
            </tr>
            <tr>
                <th class="fieldName_one">公司名称：</th>
                <td><input name="companyId" type="text" th:value="*{companyId}"></td>
                <td class="redState">用于电子合同生成的公司名称</td>
            </tr>
            <tr style='display:none'>
                <th class="fieldName_one">是否分组：</th>
                <td><input name="groupingStatus" type="text" th:value="*{groupingStatus}"></td>
                <td class="redState">用于电子合同生成的公司名称</td>
            </tr>
        </table>
        <div class="PopupBox">
        	<h2 class="PopupTitle">备注</h2>
        	<p class="textareaBox"><textarea class="disabled" name="" id="" disabled="disabled">公司名称 是用于电子合同生成的公司名称，有的公司是合伙人模式或加盟模式，每个店面生成出来的合同公司名称不一样，所以需要在这里填写公司名称。如果你的所有店面生成的公司名称都一样，则可不用填写。</textarea></p>
        </div>
		<div class="PopupBtn">
		    <input name="" type="submit" value="保存"><input class="cancel" name="" type="button" value="关闭">
		</div>
    </form>
</div>
<!--end 添加店面-->
<!--共用按钮-->
<!--end 共用按钮-->
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/select.js}"></script>
<!--表单验证-->
<script type="text/javascript" th:src="@{/static/js/validate/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/validate/messages_zh.js}"></script>
<!--layer弹出层-->
<script type="text/javascript" th:src="@{/static/js/layer/layer.js}"></script>
<script>
    $(function(){
        //表单验证
        $("#editStoreForm").validate({
            onfocusout: function(element){
                $(element).valid();
            },
            errorClass: 'formError'
        });
        $("input[class='cancel']").on('click',function(){
        	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        	parent.layer.close(index);
        });
        $("input[type='submit']").on('click',function(){
        	$("#editStoreForm").submit(function (envent){
   			    envent.preventDefault();  
   			    var form = $(this);  
   			    $.ajax({  
   			        url: form.attr("action"),  
   			        type: form.attr("method"),  
   			        data: form.serialize(),  
   			        dataType: "json",  
   			        success: function (data)  
   			        {  
   			        	layer.alert(data.message,function(){
   			        		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
   	   			        	parent.layer.close(index);
   			        	});
   			        }
   			    });  
   			});
        });
    })
</script>
</body>
</html>
