<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.CompanyAuthorityMapper">
	
	<!-- 查询菜单权限数据 -->
	<select id="selectCompanyAuthorityList" resultType="com.born.facade.vo.PermissionInfoVO">
		SELECT
			id authorityId,
			companyid companyId,
			menu_name menuName,
			menu_url menuUrl,
			menu_status ascription,
			parentid parentId,
			menu_icon icon,
			isflag type,
			menu_seq menuSeq,
			menu_level menuLevel,
			app_seq appSeq,
			app_url appUrl,
			is_importance operType
		FROM
			tb_menu
		where 
			id in
		<foreach item="item" index="index" collection="menuIds" open="(" separator="," close=")">
            #{item}
        </foreach>
	</select>
	
	<!-- 查询公司信息 -->
	<select id="selectCompanyInfo" resultType="com.born.facade.vo.company.CompanyInfoVO">
		select 
			id companyId,
			company_name companyName,
			cor_url corUrl
		from
			qft_company 
		where 
			cor_url = #{corUrl}
	</select>
	
	<!-- 查询个人权限数据 -->
	<select id="selectPersonalPermissions" resultType="com.born.facade.vo.permission.PermissionVO">
		SELECT
			a.authority_id authorityId,
			b.authority_name authorityName,
			b.authority_url authorityUrl,
			b.type operType
		FROM
			qft_user_authority a
		LEFT JOIN qft_authority b ON a.authority_id = b.id
		where
			a.user_id = #{userId}
		and b.is_delete = 0
	</select>
	<!-- 查询职位权限数据 -->
	<select id="selectPositionPermissions" resultType="com.born.facade.vo.permission.PermissionVO">
		SELECT
			a.authority_id authorityId,
			b.authority_name authorityName,
			b.authority_url authorityUrl,
			b.type operType
		FROM
			qft_position_authority a
		LEFT JOIN qft_authority b ON a.authority_id = b.id
		where
			a.position_id = #{positionId}
		and b.is_delete = 0
	</select>
	<!-- 查询公司权限数据 -->
	<select id="selectPermissions" resultType="com.born.facade.vo.permission.PermissionVO">
		SELECT
			b.id authorityId,
			b.authority_name authorityName,
			b.authority_url authorityUrl,
			b.type operType
		FROM
			qft_company_authority a left join qft_authority b on a.authority_id = b.id
		where
			a.company_id = #{companyId}
		and a.is_delete = 0
	</select>
	
	<!-- 修改权限数据是否删除状态 -->
	<update id="updateMenuAuthorityByAuthIds">
		update 
			qft_company_authority 
		set 
			is_delete = #{isDelete},
			update_time = now(),
			updater_id = #{updaterId}
		where 
			id in 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
	</update>
</mapper>