<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.MenuAuthorityMapper">
	
	<sql id="base_menu_authority">
		a.authority_id authorityId,
		b.company_id companyId,
		b.is_usable isUsable,
		b.authority_name authorityName,
		b.authority_url authorityUrl,
		b.ascription,
		b.icon,
		b.type operType
	</sql>
	<!-- 查询菜单权限 -->
	<select id="selectMenuAuthorityList" parameterType="java.lang.String" resultType="com.born.facade.vo.MenuAuthorityVO">
		SELECT
			<include refid="base_menu_authority"/>,
			a.id,
			a.menu_id
		FROM
			qft_menu_authority a
		LEFT JOIN qft_company_authority b ON a.authority_id = b.id
		<if test="companyId != null and companyId != ''">
			WHERE
				b.company_id = #{companyId}
		</if>
		<if test="companyId == null or companyId == ''">
			group by c.authority_id
		</if>
	</select>
	<resultMap id="authority_menu" type="com.born.facade.vo.MenuAuthorityVO">
		<id property="id" column="id"/>
		<result property="authorityId" column="authority_id"/>
        <result property="companyId" column="company_id"/>
       	<result property="isUsable" column="is_usable"/>
      	<result property="authorityName" column="authority_name"/>
      	<result property="authorityUrl" column="authority_url"/>
      	<result property="ascription" column="ascription"/>
      	<result property="icon" column="icon"/>
      	<result property="operType" column="type"/>
      	<result property="menuId" column="menu_id"/>
      	<result property="authCode" column="auth_code"/>
      	<association property="menuName" column="menu_id"                       
            select="selectMenuName"/>
	</resultMap>
	<select id="selectMenuName" resultType="java.lang.String">
		SELECT
			a.menu_name
		FROM
			qft_company_menu a
		where a.id = #{menu_id}
	</select>
	<!-- 根据菜单ID 查询菜单权限数据 -->
	<select id="selectAuthorityListByMenuIds" resultMap="authority_menu">
		SELECT
			a.authority_id,
			b.company_id,
			b.is_usable,
			b.authority_name,
			b.authority_url,
			b.ascription,
			b.icon,
			b.type,
			b.auth_code,
			a.id,
			a.menu_id
		FROM
			qft_menu_authority a
		LEFT JOIN qft_company_authority b ON a.authority_id = b.id
		where
			a.menu_id in
		<foreach item="item" index="index" collection="menuIds" open="(" separator="," close=")">
            #{item}
        </foreach>
	</select>
	
	<!-- 根据用户ID 查询权限数据 -->
	<select id="selectAuthorityListByUserId" parameterType="java.lang.Long" resultType="com.born.facade.vo.UserAuthVO">
		select 
			<include refid="base_menu_authority"/>
		from 
			qft_user_authority a 
		LEFT JOIN qft_company_authority b ON a.authority_id = b.id
		where a.user_id = #{userId}
	</select>
</mapper>