<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.DicItemMapper">


	<!-- 更新字典 -->
	<update id="updateDicItemById" parameterType="java.util.HashMap">
		UPDATE qft_dicitem item SET item.diname = #{name} WHERE item.id =
		#{id} and item.company_id=#{companyId}
	</update>
	
	<!-- 根据ID删除二级字典信息 -->
    <delete id="deleteItemById" parameterType="java.util.HashMap">
        delete from qft_dicitem where companyid=#{companyId} 
        and dicRank = 2 and id = #{id}
    </delete>
	<!-- 批量删除字典信息 -->
    <delete id="batchDeleteItemByIds" parameterType="java.util.HashMap">
    	update 
    		qft_dicitem 
    	set 
    		is_delete = 1,
    		update_time = now(),
    		updater_id = #{updaterId}
    	where 
    		company_id = #{companyId} 
        and 
        	dic_rank = 1 and id in
        <foreach item="items" collection="ids" open="(" separator="," close=")">
            #{items}
        </foreach>
    </delete>
    <!-- 按父级ID批量删除二级字典信息 -->
    <delete id="batchDeleteSubItemByIds" parameterType="java.util.HashMap">
    	update 
    		qft_dicitem 
    	set 
    		is_delete = 1,
    		update_time = now(),
    		updater_id = #{updaterId}
    	where 
    		company_id =#{companyId} 
    	and 
    		dic_rank = 2 and parent_id in
    	<foreach item="items" collection="ids" open="(" separator="," close=")">
            #{items}
        </foreach>
    </delete>
    
     <resultMap id="dicItemSortResultMap"   type="com.born.facade.vo.dic.DicItemSortVO">
        	<id property="id" column="id"/>
        	<result property="name" column="diname"/>
        	<result property="sort" column="order_num"/>
    </resultMap>
    <!-- 根据父ID查询字典 -->
    <select id="selectItemAllById" parameterType="java.util.HashMap" resultMap="dicItemSortResultMap">
    	select 
    		id,
    		diname,
    		order_num 
    	from 
    		qft_dicitem  
    	where 
    		company_id = #{companyId}  
    	and 
    		dic_rank = #{rank} 
    	and 
    		parent_id = #{pId} 
    	order by order_num asc
    </select>
    
    <!-- 批量更新排序字典 -->
    <update id="batchUpdateDicItemSortById" parameterType="java.util.List">  
	    <!-- 接收list参数，循环着组装sql语句，注意for循环的写法  
	         separator=";" 代表着每次循环完，在sql后面放一个分号  
	         item="item" 循环List的每条的结果集  
	         collection="list" list 即为 map传过来的参数key -->  
	      <foreach collection="list" item="item" index="index" open="" close="" separator=";">
	        	update qft_dicitem 
	        	 <set>
	                <if test="item.sort !=null">
	                    order_num = ${item.sort}
	                </if>
            	</set>
				where id = #{item.id}
	      </foreach>  
	</update>  

</mapper>