<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.DicItemMapper">


	<!-- 更新字典 -->
	<update id="updateDicItemById" parameterType="java.util.HashMap">
		UPDATE qft_dicitem item SET item.diname = #{name} WHERE item.id =
		#{id} and item.companyid=#{companyId}
	</update>
	
	<!-- 根据ID删除二级字典信息 -->
    <delete id="deleteItemById" parameterType="java.util.HashMap">
        delete from qft_dicitem where companyid=#{companyId} 
        and dicRank = 2 and id = #{id}
    </delete>
	<!-- 批量删除字典信息 -->
    <delete id="batchDeleteItemByIds" parameterType="java.util.HashMap">
        delete from qft_dicitem where companyid=#{companyId} 
        and dicRank = 1 and id in
        <foreach item="items" collection="array" open="(" separator="," close=")">
            #{items}
        </foreach>
    </delete>
    <!-- 按父级ID批量删除二级字典信息 -->
    <delete id="batchDeleteSubItemByIds" parameterType="java.util.HashMap">
    	delete from qft_dicitem where companyid=#{companyId}  and dicRank = 2 and parentid in
    	<foreach item="items" collection="array" open="(" separator="," close=")">
            #{items}
        </foreach>
    </delete>

</mapper>