<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.MenuDicMapper">
	
	
	<!-- 字典数据结果集 -->
	 <resultMap id="findDicZtreeResultMap"   type="com.born.facade.vo.dic.DicMenuVO">
        	<id property="id" column="id"/>
        	<result property="name" column="menu_name"/>
        	<result property="pId" column="parent_id"/>
        	<collection property="subMenu" javaType="java.util.Set" column="id" 
        	 ofType="com.born.facade.vo.dic.DicMenuVO" select="selectSubMenu"></collection>
	      	<collection property="subType" javaType="java.util.Set" column="id" select="selectSubDicType"></collection>
    </resultMap>
    <sql id="selectZtree">
		SELECT
			m.id,
			m.parent_id,
			m.menu_name
		FROM
			qft_menu_dic a left join qft_menu m on a.menu_id = m.id
		WHERE
	</sql>
	<!-- 获取字典数据 -->
	<select id="selectDicZtree" resultMap="findDicZtreeResultMap">
		<include refid="selectZtree"></include>
		m.parent_id = 0 AND m.is_delete = 0 ORDER BY m.menu_seq ASC
	</select>
	<select id="selectSubMenu"  resultMap="findDicZtreeResultMap">
		<include refid="selectZtree"></include>
		m.parent_id = #{id} AND m.is_delete = 0 ORDER BY m.menu_seq ASC
	</select>
	<!-- 字典数据结果集 -->
	<resultMap id="findDicZtreeTypeResultMap"   type="com.born.facade.vo.dic.DicTypeVO">
        	<id property="id" column="id"/>
        	<result property="name" column="dtname"/>
        	<result property="pId" column="menu_id"/>
        	<result property="rank" column="dic_rank"/>
    </resultMap>
	<select id="selectSubDicType"  resultMap="findDicZtreeTypeResultMap" >
        SELECT
			dt.id,
			dic.menu_id,
			dt.dtname,
			dt.dic_rank
		FROM
			qft_menu_dic dic
		JOIN qft_dictype dt ON dic.id = dt.menu_dic_id
		WHERE
			dt.is_pubdic = 2
		AND dic.menu_id = #{id}
    </select>
    
    <!-- 获取一级二级字典 -->
    <resultMap id="findDicItemResultMap"   type="com.born.facade.vo.dic.DicItemVO">
        	<id property="id" column="id"/>
        	<result property="name" column="diname"/>
        	<collection property="itemlist"  column="id"  select="selectSubItem"></collection>
    </resultMap>
    <sql id="selectItem">
		SELECT DISTINCT
			item.id,
			item.diname
		FROM
			qft_dicitem item
		WHERE
	</sql>
    <!-- 必须要有跟模板公司查询 -->
    <select id="selectDicItemList" parameterType="java.util.HashMap" resultMap="findDicItemResultMap">
		<include refid="selectItem"></include>
			item.parent_id = #{pId}
			AND item.company_id = #{companyId}
			ORDER BY item.order_num ASC
	</select>
	<resultMap id="findDicSubItemResultMap"   type="com.born.facade.vo.dic.DicItemVO">
        	<id property="id" column="id"/>
        	<result property="name" column="diname"/>
        	<!-- 这句collection可以无限级数查询 -->
        	<collection property="itemlist"  column="id"  select="selectSubItem"></collection>
    </resultMap>
	<select id="selectSubItem"  resultMap="findDicSubItemResultMap" >
        <include refid="selectItem"></include>
        	<!-- 这里就不指定级数了 -->
		item.parent_id = #{id} ORDER BY item.order_num ASC
    </select>
    
</mapper>