<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.NoticeMapper">
	<!-- 逻辑删除公告 -->
	<update id="deleteNotice">  
	     UPDATE 
	    	qft_notice
	    SET 
	    	is_delete = 1
	    	 WHERE id = #{id}
	</update> 
	<select id="selectPageList" resultType="com.born.entity.notice.Notice" parameterType="com.born.facade.dto.notice.NoticeDTO">
		select 
			id as id,
			title as title,
			company_id as companyId,
			nature as nature,
			create_time as createTime,
			content as content,
			type as type,
			login_name as loginName,
			isclose as isClose,
			update_time as updateTime,
			img_url as imgUrl,
			isphoto as isPhoto,
			tag as tag,
			isupdate as isUpdate,
			file_url as fileUrl,
			file_key as fileKey,
			creater_id as createrId,
			updater_id as updaterId
		from qft_notice
		where is_delete = 0
		<if test="id != null and id != ''">
			and	id = #{id}
		</if>	
	</select>
</mapper>