<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.AddIrregularMapper">
	
	<!-- 添加或修改托管不规则递增信息 -->
	<insert id="insertOrUpdate">
		INSERT INTO qft_add_irregular (
			trust_id
			,add_number
			,add_time
			,add_money
		) VALUES (
			#{trustId}
			,#{addNumber}
			,#{addTime}
			,#{addMoney}
		) ON DUPLICATE KEY UPDATE
			trust_id = #{trustId}
			,add_number = #{addNumber}
			,add_time = #{addTime}
			,add_money = #{addMoney}	
	</insert>
	
	<!-- 根据托管信息ID查询不规则递增信息 -->
	<select id="getAddIrregularAll" resultType="com.born.facade.vo.focus.housing.AddIrregularVO">
		SELECT 
			trust_id trustId,
			add_number addNumber,
			add_time addTime,
			add_money addMoney
		FROM qft_add_irregular i
		WHERE i.trust_id = #{trustId}	
	</select>
	
</mapper>