<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.mapper.FocusTrustMapper">
	<update id="deleteById">
		UPDATE qft_focus_housing h
		SET h.is_delete = 1
		WHERE
			h.id = #{id}; 
	</update>
</mapper>